body {font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff ;
}

ul, ol {list-style: none;
padding-left: 0;
margin: 0;}

a {text-decoration: none;}

button { cursor: pointer;}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


.header-meny-link:hover {
    color: #404BBF;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.header-logo{
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.7;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

/**=================================Header===========*/
.container{
    width: 1158px;
    padding: 0 15px; 
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2e2f42;
}

.header-logo {
    margin-right: 76px;
}

.logo-span {
    color: #2e2f42;
}

.header-menu {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    gap: 40px;
}

.header-menu-title:hover,
.header-menu-title:focus {
    color: #404bbf;
}

.header-menu-title {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-item:nth-child(1) .header-menu-title::after {
    position: absolute;
    display: block;
    content: '';
    border-radius: 2px;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background: #404bbf;
    width: 100%;
}

.header-menu-item:nth-child(1) .header-menu-title {
    position: relative;
    color: #404bbf;
}

.header-contacts {
    display: flex;
    font-style: normal;
    gap: 40px;
}

.header-contact {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
    color: #404bbf;
}


/**========================================Hero===========*/

.hero { 
letter-spacing: 0.02em;
    background-color: #2e2f42;
    color: #ffffff;
    line-height: 1.07;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.hero-title {
max-width: 496px;
    text-align: center;
    margin: 0 auto 48px;

}

.hero-btn {
    min-width: 169px;
        color: #fff;
        background-color: #4d5ae5;
        letter-spacing: 0.04em;
        cursor: pointer;
        font-weight: 500;
        line-height: 1.5;
        margin: 0 auto;
        display: block;
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    color: #fff;;
    background-color: #404BBF;
    cursor: pointer;
    
    
}


/**=========================================Features=======*/

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-title {
}

.features-item-icon {
    display: flex;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
}

.features-icon {}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4) ;
}

.features-item-icon{}

.features-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;

}

.features-item-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/**==============================================Team=======*/

.team {
background-color: #F4F4FD;
padding: 120px 0;
max-width: 1440px;
margin: 0 auto;
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom:  72px ;

}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
        background: #fff;
   
}

.team-item {background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08)
        }

.card-info-workers{border-radius: 0px 0px 4px 4px;
    padding-top: 32px;
    padding-bottom: 32px;}

.team-image {
    
}

.team-media {display: flex;
gap: 24px;
justify-content: center;
align-items: center;
margin-bottom: 32px;

}

.team-media-item {
       }

.team-media-link {width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

        .team-media-link:hover,
                .team-media-link:focus{
                    background-color: #404bbf;
                }

.team-media-icon {
    fill: #f4f4fd;
}

.team-item-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-top: 32px;
margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
padding-bottom: 32px;

}

/**==============================================PORTFOLIO=======*/

.portfolio {
    padding: 120px 0;
    background: #f4f4fd;
}

.portfolio-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item {
    width: calc((100% - 48) / 3);
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-item:hover {box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}

.portfolio-item:hover .payment-cover-text{
    transform: translateY(0);
    
    


}

.app-title-name{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.portfolio-image {
}

.portfolio-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

margin-bottom: 8px;

}

.app-title-name {border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;}

.portfolio-subtitle-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-bottom: 16px;
}

.payment-cover-text{
    position: absolute;
    top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background: #4d5ae5;
        height: 300px;
        padding: 40px 32px;
        display: flex;
        align-items: center;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap{
    position: relative;
    overflow: hidden;
}

/**==============================================FOOTER=======*/

.footer {
    background: #2e2f42;
    padding: 100px 0;
    display: flex;
        align-items: baseline;
        justify-content: start;
        color: #4d5ae5;
}

.footer .container {
    display: flex;
    align-items: baseline;
    justify-content: start;}

    .footer-logo-div {
        margin-right: 120px;}

.footer-logo {font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;
}

.footer-studio  {margin-bottom: 16px;
    color: #f4f4fd;
}
.footer-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    padding-top: 8px;

}

.media{}

.footer-media {
    color: #fff;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    
}

.footer-media-list {display: flex;
    
    gap: 16px;
}

.footer-media-item {}
   

.footer-media-icon {width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  


.footer-media-icon:hover,
.footer-media-icon:focus {
    background-color: #31d0aa;}

.footer-icon {
    fill: #f4f4fd;
    
    
}

/*========MODAL==========*/

.backdrop{
    position: fixed;
    top: 0;
    background: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;

}


.modal{
    
width: 408px;
min-height: 584px;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 24px;
}

.modal-close{
    position: absolute;
    right: 24px;
    top: 24px;
}

.modal-title{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2e2f42;
            max-width: 360px;
            margin-bottom: 16px;
}
.modal-form{

}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid #4d5ae5;
        border-radius: 4px;
        margin-bottom: 8px;
}